fastapi
uvicorn
httpx
python-dotenv
pydantic-settings
langgraph
langchain
qdrant-client
langchain-community
sentence-transformers
fastembed
langchain-google-genai
motor
langchain-qdrant
langchain-qdrant
